* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 16px;
}
h2{
    width: 100%;
    font-size: 0.825rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0 10px 0;
}
a {
    text-decoration: none;
}

body {
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    background-color: #fff;
    margin: 50px 10%;
    max-width: 1024px;
    padding: 60px 40px;
}
.button--wide{
    width: 100%;
}

.button {
    background-color: #91ac27;
    border: none;
    padding: 6px 12px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #629c16;
    transition: all 0.5s;
}

.link {
    color: black;
    transition: all 0.5s;
    margin: 10px 0;
}

.link:hover {
    color: #91ac27;
    transition: all 0.5s;
}
nav > .link{
    margin: 0 15px;

}

nav > a {
    border-bottom: 2px solid transparent;
    padding: 15px 5px;
    transition: all 0.5s;
}

nav > a:hover {
    border-bottom: 2px solid green;
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header > section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
header > a{
    flex-grow: 4;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.products > article{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.products > article > h3{
    font-size: 1.755rem;;
    font-weight: 500;
    text-align: center;
}
.my-15{
    margin: 15px 0;
}
.img-wrapper{
    background-image: url(../img/empty-bg.jpg);
}
.img-wrapper > form{
    display: flex;
    flex-direction: column;
    padding: 100px 25%;
    gap: 15px;
}
input[type="email"]{
    padding: 4px;
}
.discount{
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
}
.discount > span{
    text-transform: uppercase;
}
footer{
    display: flex;
    flex-direction: column;
}
footer > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer > section > article{
    width: 30%;
}